<header>
  {{outlet 'header'}}
</header>
<main>
  {{outlet}}
</main>
<footer>
  {{outlet 'footer'}}
</footer>

<h3>Boilerplate</h3>
{{movie-detail-edit-container}}
{{movies-list-container}}
{{movie-detail-container}}
{{admin-movie-detail-edit-container}}
{{application-detail-container}}